<!DOCTYPE html>
<html>
<head>
    <title>Online Store</title>
</head>
<body>
    <h1>Kili-Clone</h1>
    <form class="registration-form" action="/register/" method="post">
        <fieldset>
            {% csrf_token %}
            <div class="input-field">
                {{ registrationform.username }}
                <label for="Username">Username</label>
                <div class="errors">{{ registrationform.errors }}</div>
            </div>
            <div class="input-field">
                {{ registrationform.password }}
                <label for="Password">Password</label>
                <div class="errors">{{ registrationform.errors }}</div>
            </div>
            <div class="input-field">
                {{ registrationform.confirm_password }}
                <label for="Confirm Password">Confirm Password</label>
                <div class="errors">{{ registrationform.errors }}</div>
            </div>
            <div class="form-group">
                <button>Register</button>
                <p class="message">Already registered? <a href="#">Login</a></p>
            </div>
        </fieldset>
    </form>
</body>
</html>