{% extends 'base.html' %}
{% block navbar %}
  {% include "partials/navbar.html" %}
{% endblock%}
{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} flash-message" role="alert">
                      {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                <div class="back-navigation">
                  <a href="/stores"><p>Back to all stores</p></a>
                </div>
                <div class="products-form">
                    <form role="form" action="{% url  'all_products' pk=store.pk%}" method="post"enctype="multipart/form-data">
                        <fieldset>
                            {% csrf_token %}
                            {{ productform.as_p }}
                            <div class="form-group">
                             <button type="submit" class="btn btn-primary" value="Add">Add Product</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                {% if products %}
                   <p>Products currently in {{store.store_name}}</p>
                    {% for product in products %}
                    <div id="stores" class="col s12 m4" >
                        <img src="/media/{{product.picture}}" height="100" width="100">
                        <p>{{ product.product_name}}</p>
                        <a data-action="/stores/{{store.id}}/products/{{product.id}}/edit/" href="#modal{{product.id}}"  class="modal-trigger" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a data-action="/stores/{{store.id}}/products/{{product.id}}/delete/" href="#deleteproductmodal"  class="modal-trigger" ><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                    <!-- Edit existing product modal -->
                    <div id="modal{{product.id}}" class="modal" role="dialog">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              <h4 class="modal-title" id="myModalLabel">Edit Product Name</h4>
                            </div>
                            <div class="modal-body">
                              <div class="storeeditsform">
                                <form role="form" action="/stores/{{store.id}}/products/{{product.id}}/edit/"method="post">
                                  <fieldset>
                                    {% csrf_token %}
                                    <input type="text" name="name" value="{{ product.product_name }}" required="True">
                                    <input type="text" name="description" value="{{ product.description }}">
                                    <input type="submit" value="Update" class="btn btn-primary">
                                    <button type="button" class="btn modal-action modal-close">Cancel</button>
                                  </fieldset>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>

                    <!--Delete product modal-->
                    <div id="deleteproductmodal" class="modal" role ="dialog">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="modal-close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              <h4 class="modal-title" id="myModalLabel">Delete Product {{product.product_name}}</h4>
                            </div>
                            <div class="modal-body">
                                <h6>Are you sure?</h6>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default modal-action modal-close">Cancel</button>
                            <a href="/stores/{{store.id}}/products/{{product.id}}/delete/" class="btn btn-danger modal-delete-btn">Delete</a>
                            </div>
                          </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No products currently in {{store.store_name}}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}